In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
#Importing a tsv file(Tab seperated value)

housing = pd.read_csv("AmesHousing.tsv",delimiter = "\t")

In [6]:
housing

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [4]:
housing.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

In [5]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     2907 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [17]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error

# transform features function
def transform_features(df):
# select the numerical columns
    null_vals_numeric = df.select_dtypes(include = ['float64','int64']).isnull().sum()
##null_vals = null_vals[null_vals > 2] # this function will segregate the values and print only the values that are true
    # percentage of null values in the numerical column 
    prcnt_null = ((null_vals_numeric)*100/len(housing)) ## calculating the percent of null values
    
    #Replace the null values with the mode of the column if it has less than 5% of null values 
    null_5_cols = prcnt_null[(prcnt_null < 5) & (prcnt_null>0)].index.tolist()
    for col in null_5_cols:
        df[col] = df[col].fillna(df[col].mode()[0])
        
        #Drop the columns if they have more than 25 percent of null values
    null_vals_p = df.isnull().sum()*100/len(housing)
    nul_25_cols = null_vals_p[null_vals_p>=25].index.tolist()
    df = df.drop(columns = nul_25_cols)
# drop the rows with the remaining null values 
    df = df.dropna()
     
    return df


def select_features(df):
    numeric_vals = df.select_dtypes(include = ['float64','int64'])
    
    corr_sale_price = np.abs(numeric_vals.corr()[["SalePrice"]])
    cols_to_keep = corr_sale_price[corr_sale_price > 0.4].dropna().index.tolist()
    
    return df[cols_to_keep]
## p is the parameter passed in the function 
def train_and_test(data, p=0):
    
    if p == 0:
    
        X_train = data.drop(columns = ["SalePrice"]).iloc[:1460 , :] # Assigning first 1460 rows in training set
        X_test = data.drop(columns = ['SalePrice']).iloc[1460: , :] # Assigning the rows after 1460 in test set

        Y_train = data["SalePrice"].iloc[:1460]
        Y_test = data['SalePrice'].iloc[1460:]

        lr=LinearRegression()

        lr.fit(X_train , Y_train)
        Y_pred = lr.predict(X_test)
        score = r2_score(Y_test, Y_pred)
        
    elif p==1:
        #Shuffle the dataset
        data = data.sample(frac=1).reset_index(drop=True)
        
        #create the train set
        fold_one = data.drop(columns = ["SalePrice"]).iloc[:1460 , :] # Assigning first 1460 rows in training set
        fold_two= data.drop(columns = ['SalePrice']).iloc[1460: , :] # Assigning the rows after 1460 in test set
        # create the test set
        y_one = data["SalePrice"].iloc[:1460]
        Y_two = data['SalePrice'].iloc[1460:]
        # train the linear regression model
        lr=LinearRegression()
        
        #Calculate the root mean squared error
        lr.fit(fold_one , y_one)
        Y_pred = lr.predict(fold_two)
        score = r2_score(Y_two, Y_pred)
       
    else:
        lr = LinearRegression()
        scores = cross_val_score(lr , data.drop(columns=["SalePrice"]), data["SalePrice"],scoring="r2",cv=p) # training on all columns except the SalePrice and predicting on Sale Price
        score = np.mean(scores)
    return score

In [7]:
housing_clean = transform_features(housing)

In [8]:
housing_clean.isnull().sum().sort_values(ascending = False)
ser = housing_clean.isnull().sum()*100/len(housing)
ser

Order             0.0
PID               0.0
MS SubClass       0.0
MS Zoning         0.0
Lot Frontage      0.0
                 ...
Mo Sold           0.0
Yr Sold           0.0
Sale Type         0.0
Sale Condition    0.0
SalePrice         0.0
Length: 77, dtype: float64

In [9]:
housing_clean.info()
housing_clean.describe()

housing_clean.tail()
# for checking the column name in the dataset
housing_clean["Sale Type"].unique()
housing_clean["Order"].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2218 entries, 0 to 2929
Data columns (total 77 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2218 non-null   int64
 1   PID              2218 non-null   int64
 2   MS SubClass      2218 non-null   int64
 3   MS Zoning        2218 non-null   object
 4   Lot Frontage     2218 non-null   float64
 5   Lot Area         2218 non-null   int64
 6   Street           2218 non-null   object
 7   Lot Shape        2218 non-null   object
 8   Land Contour     2218 non-null   object
 9   Utilities        2218 non-null   object
 10  Lot Config       2218 non-null   object
 11  Land Slope       2218 non-null   object
 12  Neighborhood     2218 non-null   object
 13  Condition 1      2218 non-null   object
 14  Condition 2      2218 non-null   object
 15  Bldg Type        2218 non-null   object
 16  House Style      2218 non-null   object
 17  Overall Qual     2218 non-null   int64
 18  Overall Cond     2218 non-null   int64
 19  Year Built       2218 non-null   int64
 20  Year Remod/Add   2218 non-null   int64
 21  Roof Style       2218 non-null   object
 22  Roof Matl        2218 non-null   object
 23  Exterior 1st     2218 non-null   object
 24  Exterior 2nd     2218 non-null   object
 25  Mas Vnr Type     2218 non-null   object
 26  Mas Vnr Area     2218 non-null   float64
 27  Exter Qual       2218 non-null   object
 28  Exter Cond       2218 non-null   object
 29  Foundation       2218 non-null   object
 30  Bsmt Qual        2218 non-null   object
 31  Bsmt Cond        2218 non-null   object
 32  Bsmt Exposure    2218 non-null   object
 33  BsmtFin Type 1   2218 non-null   object
 34  BsmtFin SF 1     2218 non-null   float64
 35  BsmtFin Type 2   2218 non-null   object
 36  BsmtFin SF 2     2218 non-null   float64
 37  Bsmt Unf SF      2218 non-null   float64
 38  Total Bsmt SF    2218 non-null   float64
 39  Heating          2218 non-null   object
 40  Heating QC       2218 non-null   object
 41  Central Air      2218 non-null   object
 42  Electrical       2218 non-null   object
 43  1st Flr SF       2218 non-null   int64
 44  2nd Flr SF       2218 non-null   int64
 45  Low Qual Fin SF  2218 non-null   int64
 46  Gr Liv Area      2218 non-null   int64
 47  Bsmt Full Bath   2218 non-null   float64
 48  Bsmt Half Bath   2218 non-null   float64
 49  Full Bath        2218 non-null   int64
 50  Half Bath        2218 non-null   int64
 51  Bedroom AbvGr    2218 non-null   int64
 52  Kitchen AbvGr    2218 non-null   int64
 53  Kitchen Qual     2218 non-null   object
 54  TotRms AbvGrd    2218 non-null   int64
 55  Functional       2218 non-null   object
 56  Fireplaces       2218 non-null   int64
 57  Garage Type      2218 non-null   object
 58  Garage Yr Blt    2218 non-null   float64
 59  Garage Finish    2218 non-null   object
 60  Garage Cars      2218 non-null   float64
 61  Garage Area      2218 non-null   float64
 62  Garage Qual      2218 non-null   object
 63  Garage Cond      2218 non-null   object
 64  Paved Drive      2218 non-null   object
 65  Wood Deck SF     2218 non-null   int64
 66  Open Porch SF    2218 non-null   int64
 67  Enclosed Porch   2218 non-null   int64
 68  3Ssn Porch       2218 non-null   int64
 69  Screen Porch     2218 non-null   int64
 70  Pool Area        2218 non-null   int64
 71  Misc Val         2218 non-null   int64
 72  Mo Sold          2218 non-null   int64
 73  Yr Sold          2218 non-null   int64
 74  Sale Type        2218 non-null   object
 75  Sale Condition   2218 non-null   object
 76  SalePrice        2218 non-null   int64
dtypes: float64(11), int64(28), object(38)
memory usage: 1.3+ MB

array([   1,    2,    3, ..., 2926, 2929, 2930], dtype=int64)

In [10]:
#Filter the dataset to keep on;y the above columns
housing_clean_f1 = select_features(housing_clean)
housing_clean_f1

,Overall Qual,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,Total Bsmt SF,1st Flr SF,Gr Liv Area,Full Bath,TotRms AbvGrd,Fireplaces,Garage Yr Blt,Garage Cars,Garage Area,SalePrice
0,6,1960,1960,112.0,639.0,1080.0,1656,1656,1,7,2,1960.0,2.0,528.0,215000
1,5,1961,1961,0.0,468.0,882.0,896,896,1,5,0,1961.0,1.0,730.0,105000
2,6,1958,1958,108.0,923.0,1329.0,1329,1329,1,6,0,1958.0,1.0,312.0,172000
3,7,1968,1968,0.0,1065.0,2110.0,2110,2110,2,8,2,1968.0,2.0,522.0,244000
4,5,1997,1998,0.0,791.0,928.0,928,1629,2,6,1,1997.0,2.0,482.0,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2923,5,1977,1977,0.0,936.0,1126.0,1126,1126,2,5,1,1977.0,2.0,484.0,160000
2924,5,1960,1996,0.0,1224.0,1224.0,1224,1224,1,7,1,1960.0,2.0,576.0,131000
2925,6,1984,1984,0.0,819.0,1003.0,1003,1003,1,6,0,1984.0,2.0,588.0,142500
2928,5,1974,1975,0.0,1071.0,1389.0,1389,1389,1,6,1,1975.0,2.0,418.0,170000
2929,7,1993,1994,94.0,758.0,996.0,996,2000,2,9,1,1993.0,3.0,650.0,188000

In [14]:
score_1 = train_and_test(housing_clean_f1)
print(score_1)

0.7518842117870062

In [18]:
score_2 = train_and_test(housing_clean_f1, p=1)
print(score_2)

0.8313389454766935

In [23]:
score_3 = train_and_test(housing_clean_f1, p=5)
print(score_3)

0.791630754753182